{% extends "base.html" %}

{% block title %}
パスワードリセットを送信しました。
{% endblock title %}

{% block contents %}
<hr>
<div class="container">
    <div class="row">
        <div class="col offset-2 py-4">
            <h5>パスワードリセット手順をメールで送信しました。
                メールはすぐに届きます。
            </h5>
            <br>
            <h6>
                メールが届かない場合は、迷惑メールフォルダをご確認ください。
            </h6>
            <br>
            <a href="{% url 'photo:index' %}">Photo Gallery</a>
        </div>
    </div>
</div>
{% endblock contents %}